<form method="post" action="?class=Formthod=salvar">
    <div>
      <label for="disciplina">Disciplina:</label>
      <input type="varcha" name="disciplina" id="disciplina" required maxlength="100" />
    </div>
    <div>
      <label for="professor">Professor:</label>
      <textarea name="professor" id="professor" required></textarea>
    </div>
    <div>
      <label for="matera">Materia:</label>
      <input type="materia" step="0.01" name="valor" id="valor" required />
    </div>
    <div>
      <button type="submit">Salvar</button>
    </div>
  </form>
  