<form method="post" action="?class=Form&method=salvar">
  <input type="hidden" name="id" value="{id}" />
  <div>
    <label for="disciplina">Disciplina:</label>
    <input
      type="text"
      name="disciplina"
      id="disciplina"
      required
      maxlength="50"
      value="{disciplina}"
    />
  </div>
  <div>
    <label for="professor">Professor:</label>
    <textarea name="professor" id="professor" required>{professor}</textarea>
  </div>
  <div>
    <label for="materia">Materia:</label>
    <input
    type="text"
    name="materia"
    id="materia"
    required
    maxlength="50"
    value="{materia}"
    />
  </div>
  <div>
    <button type="submit">Salvar</button>
  </div>
</form>
  